
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;
    width: 622px;
    height: 144px;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

  /* *{
    margin: 0;
    padding: 0;
  } */
   body{
        background-color: #F1F1F3;
        color: #0E0E0E;
        max-width: 1200px;
        margin: auto;
     
   }
/* nav= style */
.nav .nav-ul{
    display: flex;
    justify-content: space-between;
}
/* hero  style  */
.hero{
    display: flex;
    justify-content: center;
    width: 1280px;
    height: 576px; 
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 10px 0 10px;
   
   
 
}
.hero-content{
  width: 622px;
  height: 269px;
 margin: 80px, 80px 80px,80px;
    padding:100px ,100px, 100px, 100px;
}
.hero-h4{
    color: #6A7972;
    margin-top: 100px;
    /* width: 622px;
    height: 29px; */
}
.hero-1{
 font-size: 40px;
  color: #000;
  margin-bottom: 24px;
  line-height: 1.4;
    
}
.hero-btn{
 background-color:#006A50 ;
  color: #fff;
  padding: 17px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
  transition:  0.3s;
  margin-top: 10px;
  gap: 24px;
}
.hero-btn:hover{
    background-color: #700A09;
}
.hero-img{
    width: 475px;
    height: 400px;
    margin-top: 80px;
   
}

/* Future style  */
.future{
  margin-top: 80px;
}
.future h1{
  font-weight: bold;
}

.future-content{
    display: flex;
    margin-top: 56px;
    gap: 24px;
}
.card-1{
    background-color: #81B4FC;
    
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    margin-bottom: 30px;
    width: 400px;
    height: 325px;
   
    border-radius: 10px;
    
}
.card-1 button{
    background-color: #5490F5;
    margin-top: 20px;
    border: none;
    border-radius:8px ;
    color: #fff;
    height: 41px;
    width: 122px;
}
.card-1:hover{
  background-color: #81b4fc28;
}
.card-1 button:hover{
  background-color: #6A7972;
}

.card-2{
    background-color: #C6E4D6;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    margin-bottom: 30px;
    width: 411px;
    height: 325px;
   
    border-radius: 10px;
    
   
}
.card-2 button{
    background-color:#09A15C ;
    border: none;
    margin-top: 45px;
    /* margin-top: 5px; */
    border-radius:8px ;
    color: #fff;
    height: 41px;
    width: 122px;
}
.card-2 button:hover{
  background-color: #700A09;
}
.card-2:hover{
  background-color: #81b4fc28;
}
.card-3{
    background-color: #F7EBCF;
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    margin-bottom: 30px;
    width: 400px;
    height: 325px;
    border-radius: 10px;
  }
.card-3 button{
    background-color: #FFC239;
    border: none;
    border-radius:8px ;
    color: #fff;
    height: 41px;
    width: 122px;
    font-weight: bolder;
    margin-top: 20px;

}
.card-3 button:hover{
  background-color: #09A15C;
}
.card-3:hover{
  background-color: #81b4fc28;
}
.card-1 p , .card-2 p , .card-3 p{
  color: #0E0E0E;
  line-height: 24px;
}

/* recent news */

.recent-box{
background-color:#FFFFFF ;
display: flex;
padding: 48px;
margin: 48px;
gap: 32px;
border-radius: 24px;
}
.recent-img-1{
  width: 408px;
  height: 306px;
  border-radius: 24px;
}

.recent-content ,h2 , p{
  color: #0E0E0E;
  
}
.recent-content p{
  line-height: 24px;
  text-align: start;
}
.recent-content span{
  padding-left:5px;
}
.recent-content button{
 gap: 32px;
  padding: 13px ;
  margin-bottom: 26px ;
  border-radius: 8px;
  border: none;
  background-color:#006A50 ;
  color: #FFFFFF;

}
.recent-content button:hover{
  background-color: #560a08;
}
/* donate style  */
.donate{
  text-align: center;
  font-weight: bolder;
 
}
.donate-box{
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
  margin-left: 40px;

 
}
.box-1{
  background-color:#FFFFFF ;
  width: 243px;
  height: 128px;
  border-radius: 16px;
  margin-top: 40px;

}
.box-1 h2{
  text-align: center;
  margin-top: 50px;
}

.box-2{
  background-color: #C6E4D6;
  width: 252px;
  height: 128px;
  border-radius: 16px;
 margin-top: 40px;
 
}

.box-2 h2{
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
}

.donate input{
  width: 1032px;
  height: 64px;
  border: none;
 margin-top: 40px;
 text-align: center;
}
.donate-box  .box-2:hover{
  background-color: #560a08;
  color: #F1F1F3;
}
.donate-box  .box-1:hover{
  background-color: #560a08;
  color: #F1F1F3;
}
.donate button{
  background-color: #006A50;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  width: 151px;
  height: 56px;
  margin-top: 40px;
}
.donate button:hover{
  background-color: #560a08;
}
/* subsrcibe style */
.subscribe{
  background-color: #C6E4D6;
  height: 100%;
  padding: 55px;
  border-radius:24px ;
  margin-top: 80px;
}

.subscribe h2 , .subscribe-text , p{
  text-align: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}
.form-box {
  background: #ffffff;
  border: none;
  border-radius: 10px;
}
.form-box input {
  text-align: center;
  width: 600px;
  height: 55px;
  gap: 24px;
  border: none;
  outline: none;
 
}
.form-box button {
  color: #fff;
 width: 160px;
 height: 55px;
 border-radius: 5px;
 border: none;
  background-color: #006A50;
  cursor: pointer;
}
.form-box button:hover{
  background-color: #560a08;
}
