
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
    font-size: xx-large;
    width: 622px;
    height: 144px;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

  /* *{
    margin: 0;
    padding: 0;
  } */
   body{
  
        max-width: 1200px;
        margin: auto;
     
   }
/* nav= style */
.nav .nav-ul{
    display: flex;
    justify-content: space-between;
}
/* hero  style  */
.hero{
    display: flex;
    justify-content: center;
    width: 70%; 
    background-color: #C6E4D6;
    border-radius: 24px;
  padding: 10px 0 10px;
   margin-top: 50px;
}
.hero-content{
    width: 622px;
    height: 269px;
}
.hero-h4{
    color: #6A7972;
    margin-top: 100px;
    /* width: 622px;
    height: 29px; */
}
.hero-1{
 font-size: 2.5rem;
  color: #000;
  margin-bottom: 1.5rem;
  line-height: 1.4;
    
}
.hero-btn{
 background-color:#006A50 ;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition:  0.3s;
  margin-top: 10px;
}
.hero-btn:hover{
    background-color: #F30200;
}
.hero-img{
    width: 150px;
    margin-bottom: 1rem;
}

/* Future style  */
.future-content{
    display: flex;
}